<html>
    <head>
        <title>Startseite</title>
        <meta name="viewport" content="width=devide-width", initial-scale=1.0>
        <link rel="stylesheet" href="startseite.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    </head>


    <body>
        <div class="grid">
            <div class="navbar">nav </div>
            <div class="item logo">borgdir.media</div>
            <div>Equipment</div>
            <div>Login</div>
            <div class="item navigation-menu"><i class="fas fa-bars"></i></div>
            <div class="carousel">carousel goes here</div>
        </div>
    </body>
</html>