<!DOCTYPE html>
<html>
    <head>
        <title>Startseite</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <link rel="stylesheet" type="text/css" href="startseite.css">
    </head>

    <body>
        <div class="grid">
            <a class="borgdir-logo" href="#">borgdir.media</a>
            <a class="navigation-Link" href="../equipment/equipment.html">Equipment</a>
            <a class="navigation-Link" id="login"  href="../login/login.html">Login</a>
            <div class="navigation-menu"><i class="fas fa-bars"></i></div>
            
            <div class="cta">
                Willkommen bei 
                <div class="borgdir-logo">borgdir.media</div>
                <div class="button-row">
                    <a href="../login/login.html" class="borgdir-button" role="button">Login</a>
                    <a href="../login/login.html" class="borgdir-button" role="button">Registrieren</a>
                </div>
            </div>
            
            <div class="carousel">    
                Carousell goes here        
            </div>
        </div>
    </body>

    <bordgir-startseite></bordgir-startseite>
</html>