<!DOCTYPE html>
<html>
    <head>
        <title>Startseite</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <link rel="stylesheet" type="text/css" href="warenkorb.css">
    </head>

    <body>
        <header class="borgdir-header">
            <a class="borgdir-logo" href="../startseite/startseite.html">borgdir.media</a>
            <a class="navigation-Link" href="../equipment/equipment.html">Equipment</a>
            <a class="navigation-Link" id="login"  href="../login/login.html">Login</a>
            <div class="navigation-menu"><i class="fas fa-bars"></i></div>
        </header>
        <h1>Warenkorb</h2>
        <div class="warenkorb">
            <h3>Equipment</h3>
            <h3>Beschreibung</h3>
            <h3>Anzahl </h3>
            <h3>Rückgabe</h3>
            <h3>Löschen</h3>
        </div>

        <div class="item-card">
            <div class="image-wrapper">Kamera</div>
            <p class="beschreibung">Spitzenleistung und DX-Flexibilität. Immer einen Schritt weiter mit der D500. Die D500 besticht als kleine Schwester der D5, des Nikon-Spitzenmodells mit FX-Sensor, mit einer phänomenalen Leistung und Präzision.</p>
            <p>1</p>
            <p>01.6.2018</p>
            <button class="borgdir-button">
                delete
            </button>

        </div>
    </body>

</html>